#taskform::before{
    content: 'more than 10 characters should be given as a task';
    background-color: lightgray;
    transition: all ease-in-out 0.6s;
    /*  position: relative; */
    left: 30rem;
    bottom: 1.8rem;
    height: 2rem;
    width: 20rem;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    /* visibility: hidden; */
}
